.first-page {
    height: 40em;
    width: 100%;
    background-color: white;
  }
  
  .first-page>.reveal-text {
    margin-left: 2em;
    width: 6em;
    color: antiquewhite;
    position: absolute;
    z-index: 1;
    line-height: 1em;
  }

  .second-page>.reveal-text {
      font-size: 1em;
    width: 6em;
    color: antiquewhite;
    position: absolute;
    z-index: 1;
  }
  
  .first-page video {}
  
  .second-page {
    height: 40em;
    width: 100%;
    background-color: white;
  }
  
  .specific-content {
    overflow: auto;
  }
  
  .third-page {
    height: 40em;
    width: 100%;
    background-color: white;
  }
  .contents-fourth{
    display: flex;
    flex-direction: column;
  }
  .fourth-page mat-icon{
    align-self: center;
    cursor: pointer;
  }
  .store-selector{
    
    border: 1pt;
    border-style: solid;
    height: 180px;
    border-color: gray;
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fourth-heading{
    font-size: 24pt;
    padding: 1em;
    font-weight: 500;
    color: gray;
  }
  .fourth-page {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 40em;
    width: 100%;
    background-color: white;
  }
  
  .fifth-page {
    height: 40em;
    width: 100%;
    background-color: burlywood;
  }
  
  video {
    width: 100%;
  }
  
  .reveal-text {
    height: 15em;
    font-weight: 600;
    font-family: monospace;
    font-size: 3em;
    transition: all 0.5s ease-in;
  }
  
  .section1-text {
    margin-top: 6em;
    opacity: 0;
  }
  
  .section1-appear {
    margin-top: 4em;
    opacity: 1;
  }
  
  .section2-text {
    margin-left: 0em;
    opacity: 0;
  }
  
  .section2-appear {
      margin-left: 3em;
    opacity: 1;
  }
  
  .section3-text {
    transform: scale(1.25);
    opacity: 0;    
  }
  
  .section3-appear {
    transform: scale(1);
    opacity: 1;
  }
  
  .main-content {
    /* margin-top: 7em; */
  }
  