
    <div class="slider-widget">
        <div class="slider-vertical">
            <div id="slider-main" class="slider">
                <div class="slider-header">Stream from your device to your TV. Just like that.</div>
            <div (mouseleave)="continueSlider($event)" (mouseenter)="stopSlider($event)" id="slider-item1" class="slider-item">
                
                <div class="container">
                    <div class="progress-bar">
                      <div class="loaded">
                    </div>
                  </div>
                  </div>
                <div class="slider-item-sub">
                <div class="slider-main">
                    <span id="span-1" class="selector-in-slider" (click)="clickedSpan($event)" >Stream from Android and iPhone®.</span>
                </div>
                <div class="slider-sub">
                    <div>Enjoy hundreds of Android or iPhone apps2, and play or pause directly from your phone.</div>
                </div>
            </div>
            </div>
            <div (mouseleave)="continueSlider($event)" (mouseenter)="stopSlider($event)" id="slider-item2" class="slider-item">
                
                <div class="container">
                    <div class="progress-bar">
                      <div class="loaded">
                    </div>
                  </div>
                  </div>
                <div class="slider-item-sub">
                <div class="slider-main">
                    <span id="span-2" class="selector-in-slider" (click)="clickedSpan($event)" >See your laptop on your TV.</span>
                    
                </div>
                <div class="slider-sub">
                    <div>Mirror your laptop screen to your TV with your Chrome browser. Surf the web or see your media on the big screen</div>
                </div>
                </div>
            </div>
            <div (mouseleave)="continueSlider($event)" (mouseenter)="stopSlider($event)" id="slider-item3" class="slider-item">
                
                <div class="container">
                    <div class="progress-bar">
                      <div class="loaded">
                    </div>
                  </div>
                  </div>
                <div class="slider-item-sub">
                <div class="slider-main">
                    <span id="span-3" class="selector-in-slider" (click)="clickedSpan($event)" >Command your TV from your tablet..</span>
                    
                </div>
                <div class="slider-sub">
                    <div>Turn your Android or iOS tablet into an even better entertainment centre. Just tap the Cast button in any compatible app</div>
                </div>
                </div>
                </div>
            </div>
            <div class="image-slider">
                <img id="span-1-img" src="https://assets-ouch.icons8.com/thumb/733/7adb48cf-37f1-4f4a-aeb6-ce909c6ff0a2.png" alt=""/>
                <img id="span-2-img" src="https://assets-ouch.icons8.com/thumb/255/c3d35a7c-15ff-447a-94b3-2d96afd49f3c.png" alt=""/>
                <img id="span-3-img" src="https://assets-ouch.icons8.com/thumb/947/78044b60-a128-4312-9f75-7d043fa90f4b.png" alt=""/>
            </div>
        </div>

