
    <div class="slider-widget">
        <div class="slider-vertical">
            <div id="slider-main" class="slider">
                <div class="slider-header">Stream from your device to your TV. Just like that.</div>
            <div (mouseleave)="continueSlider($event)" (mouseenter)="stopSlider($event)" id="slider-item1" class="slider-item">
                
                <div class="container">
                    <div class="progress-bar">
                      <div class="loaded">
                    </div>
                  </div>
                  </div>
                <div class="slider-item-sub">
                <div class="slider-main">
                    <span id="span-1" class="selector-in-slider" (click)="clickedSpan($event)" >Stream from Android and iPhone®.</span>
                </div>
                <div class="slider-sub">
                    <div>Enjoy hundreds of Android or iPhone apps2, and play or pause directly from your phone.</div>
                </div>
            </div>
            </div>
            <div (mouseleave)="continueSlider($event)" (mouseenter)="stopSlider($event)" id="slider-item2" class="slider-item">
                
                <div class="container">
                    <div class="progress-bar">
                      <div class="loaded">
                    </div>
                  </div>
                  </div>
                <div class="slider-item-sub">
                <div class="slider-main">
                    <span id="span-2" class="selector-in-slider" (click)="clickedSpan($event)" >See your laptop on your TV.</span>
                    
                </div>
                <div class="slider-sub">
                    <div>Mirror your laptop screen to your TV with your Chrome browser. Surf the web or see your media on the big screen</div>
                </div>
                </div>
            </div>
            <div (mouseleave)="continueSlider($event)" (mouseenter)="stopSlider($event)" id="slider-item3" class="slider-item">
                
                <div class="container">
                    <div class="progress-bar">
                      <div class="loaded">
                    </div>
                  </div>
                  </div>
                <div class="slider-item-sub">
                <div class="slider-main">
                    <span id="span-3" class="selector-in-slider" (click)="clickedSpan($event)" >Command your TV from your tablet..</span>
                    
                </div>
                <div class="slider-sub">
                    <div>Turn your Android or iOS tablet into an even better entertainment centre. Just tap the Cast button in any compatible app</div>
                </div>
                </div>
                </div>
            </div>
            <div class="image-slider">
                <img id="span-1-img" src="https://assets-ouch.icons8.com/thumb/208/d0bb6da8-614f-4676-a02f-8e6ef58d9982.png" alt=""/>
                <img id="span-2-img" src="https://assets-ouch.icons8.com/thumb/63/fe42a8e2-8f94-4ba7-a33e-5ff106e162be.png" alt=""/>
                <img id="span-3-img" src="https://assets-ouch.icons8.com/thumb/748/65993c73-b85f-41a5-a809-a25e609f9e92.png" alt=""/>
            </div>
        </div>

