#fixed-nav-bar {
    position: fixed;
    top: 0px;
    width: 100%;
    display: block;
    transition: top 0.3s;
    z-index: 2;
  }
  
  #nav-bar {
    display: flex;
    flex-direction: column;
  }
  
  #hide-nav {
    display: flex;
    height: 3em;
    background-color: white;
    width: 100%;
    transition: top 0.3s;
  }
  .right-bar{
    margin-left: auto;
  }
  .heading-main{
    margin-left: 1.5em;
  }
  .left-block-button{
    margin-right: 1.5em;
    margin-top: 0.71em;
  }
  #static-nav {
    height: 4em;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .selected{
    box-shadow: none;
      background: #fafafa;
  }
  .sub-link-middle{
    border: 0 solid transparent;
    border-radius: 16px;
    color: #3c4043;
    font-family: "Google Sans",Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    padding: 8px 12px;
    transition: all 0.2s cubic-bezier(0.4,0,1,1);
  }
  .title-text{
    color: #5f6368;
      display: inline-block;
      font-family: "Google Sans",Arial,sans-serif;
      font-size: 24px;
      font-weight: 700;
      line-height: 24px;
      margin-top: 18px;
  }
  .category-buttons {
    background-color: transparent;
    border: 0;
    color: #767676;
    cursor: pointer;
    display: block;
    font-size: 14px;
    height: auto;
    margin: 0;
    outline: none;
    padding: 0;
    position: relative;
    text-decoration: none;
    transition: color 350ms ease;
  }
  
  .logo-bg {
    background: url(https://img.icons8.com/ios-filled/72/google-logo.png) no-repeat;
    background-size: cover;
    display: inline-block;
    height: 24px;
    width: 24px;
  }
  
  .left-block {
    margin-left: 20px;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
  }
  
  .up-arrow {
    transform-origin: center center;
    display: inline-block;
    width: 12px;
    margin-left: 4px;
    height: 12px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    vertical-align: middle;
    transition: transform 350ms ease;
  }
  
  .left-block-menu {    
    margin-left: 1em;
    margin-bottom: 0.91em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
  }
  
  .nav-button {
    margin-left: 1em;
    display: flex;
    flex-direction: row;
    cursor: pointer;
  }
  paper-icon-button{
    padding-bottom: 0px;
    margin-right: 1em;
  }
  .visually-hidden {
    position: absolute;
    opacity: 0;
  }
  
  .checkbox-hack {
    cursor: pointer;
  }
  
  .nav-button>label {
    user-select: none;
  }
  
  .sub-nav {
    display: block;
    min-height: 480px;
    top: 48px;
    position: absolute;
    width: 100vw;
    left: 0;
    background: #fff;
    padding-top: 32px;
  }
  .middle-items{
    margin-top: 0.85em;
  }
  .block-button{
    font-family: "Google Sans",Arial,sans-serif;
    box-shadow: 0 2px 10px 0 rgba(128, 128, 128, 0.15);
      font-size: 16px;
      font-weight: 500;
      height: auto;
      line-height: 16px;
      min-width: 76px;
      padding: 10px 24px;
      text-transform: none;    
      background-color: gray;
      color: #fff;border: 0;
      cursor: pointer;
      font-family: "Google Sans",Arial,sans-serif;
      font-weight: 500;
      text-align: center;
  }