<div class="third-page-content">
    <div class="third-page-image">
        <img id="span-5-img" src="https://lh3.googleusercontent.com/uHu7Qx3vz2NzZIl7G5ewbLS_oCrYH82TFKXucPtuWSZTdvb3grP-KSGfsdZZF1WARDRl6llxjyIPhxyIzpxGZw=rw-w680" alt=""/>
    </div>
    <div class="third-page-heading">
        <div class="third-page-main-heading">Put your voice in charge.
        </div>
<div class="third-page-sub-heading">Start streaming by speaking.</div>
<div class="third-page-content-writing">Use your voice to stream from compatible apps,<br />
     mute the volume, rewind and more with Chromecast and Google Home.1</div>
    </div>
</div>